langchain
python-dotenv
ipykernel
langchain-community
langchain-chroma
langchain_chroma
pypdf
bs4

pymupdf

langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain-huggingface
faiss-cpu
duckdb
pandas
openai
langchain-groq
duckduckgo-search
mysql-connector-python



pytube
numexpr
#####
arxiv
wikipedia


####
SQLAlchemy
mysql-connector-python


##
validators==0.28.1
youtube_transcript_api

pytube